<a href="https://colab.research.google.com/github/jdposada/intro_ing_202230/blob/main/week10_agrupaci%C3%B3n_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
enlace = "https://www.datos.gov.co/api/views/rnvb-vnyh/rows.csv?accessType=DOWNLOAD"
icfes = pd.read_csv(enlace)

In [ ]:
icfes.shape

(504872, 81)

In [ ]:
cond = (icfes['ESTU_DEPTO_RESIDE'].isin(['MAGDALENA', 'ATLANTICO', 'CUNDINAMARCA']))
icfes_sub = icfes.loc[cond, ['ESTU_DEPTO_RESIDE', 'PUNT_INGLES', 'PUNT_GLOBAL']]

In [ ]:
icfes_sub.shape

(77510, 3)

In [ ]:
icfes_sub.head()

  ESTU_DEPTO_RESIDE  PUNT_INGLES  PUNT_GLOBAL
0      CUNDINAMARCA         55.0          244
1      CUNDINAMARCA         33.0          238
2      CUNDINAMARCA         59.0          325
3      CUNDINAMARCA         47.0          238
4      CUNDINAMARCA         43.0          202

Como obtengo el promedio del puntaje por departamento en inglés y el total

In [ ]:
icfes_sub.groupby(by="ESTU_DEPTO_RESIDE").mean()

                   PUNT_INGLES  PUNT_GLOBAL
ESTU_DEPTO_RESIDE
ATLANTICO            46.983874   244.231235
CUNDINAMARCA         47.975011   257.161338
MAGDALENA            42.920330   226.249017

In [ ]:
icfes_sub.groupby(by="ESTU_DEPTO_RESIDE").min()

                   PUNT_INGLES  PUNT_GLOBAL
ESTU_DEPTO_RESIDE
ATLANTICO                  0.0            0
CUNDINAMARCA               0.0            0
MAGDALENA                  0.0            0

In [ ]:
icfes_sub.groupby(by="ESTU_DEPTO_RESIDE").max()

                   PUNT_INGLES  PUNT_GLOBAL
ESTU_DEPTO_RESIDE
ATLANTICO                100.0          500
CUNDINAMARCA             100.0          442
MAGDALENA                100.0          438