<a href="https://colab.research.google.com/github/jdposada/intro_ing_202230/blob/main/week02_intro_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
1 + 3

4

In [7]:
4 / 2

2.0

In [6]:
3 * (5 + 4)

27

# Variables

Definimos variables para utilizarlas en una operacion matematica simple

In [10]:
a = 3
b = 5
c = 4

In [11]:
a * (b + c)

27

# Librerias o paquetes en Python

Contienen una serie de funciones que se pueden reutilizar y que facilitan la programacion en este lenguaje

In [13]:
import math

In [18]:
math.pi

3.141592653589793

# Funciones o Metodos en Python

Se llaman por su nombre y se utiliza los parentesis pare pasar los parametros requeridos por la funcion

In [19]:
math.sin(math.pi / 4)

0.7071067811865475

In [20]:
print("Hello World")

Hello World

In [21]:
texto_imprimir = "Hello World"
print(texto_imprimir)

Hello World

## Introduccion a Pandas

In [22]:
import pandas as pd

In [23]:
filepath = "/content/sample_data/california_housing_train.csv"

In [24]:
df = pd.read_csv(filepath)

In [26]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0