<a href="https://colab.research.google.com/github/jdposada/intro_ing_202230/blob/main/week_05_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataframes en Pandas

In [ ]:
nombres = ["jose", "david", "posada", "aguilar"]

In [ ]:
contactos = {"nombres": nombres}

In [ ]:
contactos["nombres"]

['jose', 'david', 'posada', 'aguilar']

In [ ]:
edad = [17, 18, 16, 15]
estatura = [1.64, 1.70, 1.55, 1.80]
datos = {"nombres": nombres, "edad": edad, "estatura": estatura}

In [ ]:
datos

{'nombres': ['jose', 'david', 'posada', 'aguilar'],
 'edad': [17, 18, 16, 15],
 'estatura': [1.64, 1.7, 1.55, 1.8]}

In [ ]:
import pandas as pd

In [ ]:
datos_df = pd.DataFrame.from_dict(datos)

In [ ]:
datos_df

   nombres  edad  estatura
0     jose    17      1.64
1    david    18      1.70
2   posada    16      1.55
3  aguilar    15      1.80

In [ ]:
datos_df.iloc[2, :]

nombres     posada
edad            16
estatura      1.55
Name: 2, dtype: object

In [ ]:
enlace = "https://www.datos.gov.co/api/views/rnvb-vnyh/rows.csv?accessType=DOWNLOAD"

In [ ]:
icfes = pd.read_csv(enlace)

In [ ]:
icfes.shape

(504872, 81)

In [ ]:
icfes.head()

,ESTU_TIPODOCUMENTO,ESTU_NACIONALIDAD,ESTU_GENERO,ESTU_FECHANACIMIENTO,PERIODO,ESTU_CONSECUTIVO,ESTU_ESTUDIANTE,ESTU_PAIS_RESIDE,ESTU_TIENEETNIA,ESTU_DEPTO_RESIDE,...,PUNT_INGLES,PERCENTIL_INGLES,DESEMP_INGLES,PUNT_GLOBAL,PERCENTIL_GLOBAL,ESTU_INSE_INDIVIDUAL,ESTU_NSE_INDIVIDUAL,ESTU_NSE_ESTABLECIMIENTO,ESTU_ESTADOINVESTIGACION,ESTU_GENERACION-E
0,TI,SUIZA,F,03/03/2003 12:00:00 AM,20204,SB11202040211436,ESTUDIANTE,SUIZA,No,CUNDINAMARCA,...,55.0,81,A1,244,49,54.882365,3.0,3.0,PUBLICAR,NO
1,PEP,VENEZUELA,M,05/10/2002 12:00:00 AM,20204,SB11202040433216,ESTUDIANTE,VENEZUELA,No,CUNDINAMARCA,...,33.0,6,A-,238,44,49.252311,2.0,2.0,PUBLICAR,NO
2,TI,VENEZUELA,F,12/14/2003 12:00:00 AM,20204,SB11202040244180,ESTUDIANTE,VENEZUELA,No,CUNDINAMARCA,...,59.0,87,A2,325,94,40.733672,1.0,3.0,PUBLICAR,GENERACION E - GRATUIDAD
3,CE,VENEZUELA,M,04/12/2003 12:00:00 AM,20204,SB11202040210971,ESTUDIANTE,VENEZUELA,No,CUNDINAMARCA,...,47.0,58,A-,238,45,48.217953,2.0,3.0,PUBLICAR,NO
4,TI,COLOMBIA,F,03/03/2004 12:00:00 AM,20204,SB11202040235382,ESTUDIANTE,COLOMBIA,No,CUNDINAMARCA,...,43.0,40,A-,202,19,60.912192,3.0,3.0,PUBLICAR,NO

In [ ]:
cond = (icfes["ESTU_NACIONALIDAD"] == "VENEZUELA")

In [ ]:
icfes_venezolanos = icfes.loc[cond, :]

In [ ]:
icfes_venezolanos.shape

(2927, 81)

In [ ]:
icfes.loc[:, "ESTU_NACIONALIDAD"].unique()

array(['SUIZA', 'VENEZUELA', 'COLOMBIA', 'ECUADOR', 'GUATEMALA', 'PERÚ',
       'ESTADOS UNIDOS', 'MÉXICO', 'ITALIA', 'COREA DEL SUR', 'URUGUAY',
       'ESTADOS FEDERADOS DE MICRONESIA', 'BOLIVIA', 'PANAMÁ', 'CHILE',
       'REPÚBLICA DOMINICANA', 'EL SALVADOR', 'BRASIL', 'ARGENTINA',
       'ESPAÑA', 'WALLIS Y FUTUNA', 'CABO VERDE', 'VANUATU', 'VIETNAM',
       'FRANCIA', 'HONDURAS', 'CUBA', 'JAPÓN', 'ARABIA SAUDITA', 'RUSIA',
       'HAITI', 'EGIPTO', 'IRÁN', 'REINO UNIDO', 'COSTA RICA', 'CHINA',
       'LITUANIA', 'CURAZAO', 'ARUBA', 'PARAGUAY', 'NICARAGUA',
       'ALEMANIA', 'CANADÁ', 'COREA DEL NORTE', 'TURQUÍA',
       'PAÍSES BAJOS - HOLANDA', 'OMÁN'], dtype=object)